In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('data.csv')
df.head()

  CountryShort CountryLong  Year  ValueNumeric      Unit Data_source
0         EU28       EU-28  1990    531.232975  gCO2/kWh         EEA
1         EU28       EU-28  1991    516.034467  gCO2/kWh         EEA
2         EU28       EU-28  1992    503.571112  gCO2/kWh         EEA
3         EU28       EU-28  1993    473.999118  gCO2/kWh         EEA
4         EU28       EU-28  1994    469.013303  gCO2/kWh         EEA

In [3]:
df['CountryLong'].unique()

array(['EU-28', 'EU-27 (from 2020)', 'Austria', 'Belgium', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland',
       'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'United Kingdom', 'Turkey',
       'Island', 'Norway'], dtype=object)

In [4]:
df['CountryLong'].value_counts()

EU-28                28
Latvia               28
Island               28
Turkey               28
United Kingdom       28
Sweden               28
Spain                28
Slovenia             28
Slovakia             28
Romania              28
Portugal             28
Poland               28
Netherlands          28
Malta                28
Luxembourg           28
Lithuania            28
Italy                28
EU-27 (from 2020)    28
Ireland              28
Hungary              28
Greece               28
Germany              28
France               28
Finland              28
Estonia              28
Denmark              28
Czech Republic       28
Cyprus               28
Croatia              28
Bulgaria             28
Belgium              28
Austria              28
Norway               28
Name: CountryLong, dtype: int64

In [5]:
df=df.drop('CountryShort', axis=1)
df.head()

  CountryLong  Year  ValueNumeric      Unit Data_source
0       EU-28  1990    531.232975  gCO2/kWh         EEA
1       EU-28  1991    516.034467  gCO2/kWh         EEA
2       EU-28  1992    503.571112  gCO2/kWh         EEA
3       EU-28  1993    473.999118  gCO2/kWh         EEA
4       EU-28  1994    469.013303  gCO2/kWh         EEA

In [6]:
df=df[df['CountryLong'] != 'EU-28']
df=df[df['CountryLong'] != 'EU-27 (from 2020)']

In [7]:
df['CountryLong'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland',
       'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'United Kingdom', 'Turkey', 'Island', 'Norway'], dtype=object)

In [8]:
df=df.rename(columns={'CountryLong': 'country', 'ValueNumeric':'value'})

In [9]:
df['Unit'].unique()

array(['gCO2/kWh'], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 868 entries, 56 to 923
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      868 non-null    object
 1   Year         868 non-null    int64
 2   value        868 non-null    float64
 3   Unit         868 non-null    object
 4   Data_source  868 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 30.5+ KB

In [11]:
df=df.drop('Unit', axis=1)
df=df.drop('Data_source', axis=1)

In [12]:
df=df.rename(columns={'Year':'year', 'value': 'amount'})

In [13]:
df2=df.pivot(index='country', columns='year', values='amount')

In [14]:
df3=df2

In [15]:
index = df2.index
alist = list(index)

In [16]:
df1=pd.DataFrame(alist)

In [17]:
df1=df1.rename(columns={0:'country'})

In [18]:
df2.reset_index(drop=True, inplace=True)

In [19]:
df2.head()

year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,235.499596,243.986584,189.693853,171.888602,190.765413,198.969101,206.134590,205.480379,178.170439,168.149189,...,155.171099,133.498905,151.607932,161.104150,119.534018,106.158143,92.483734,107.637713,95.627761,103.979949
1,356.769647,362.745564,346.750096,356.765250,364.238808,349.893083,322.084288,292.860673,310.579505,259.552501,...,234.673647,209.596141,209.360180,189.746777,204.567924,185.528638,202.544167,221.209820,167.945130,176.066066
2,543.076759,510.283274,639.675505,620.511951,565.275824,518.969637,491.525673,530.591811,550.559057,490.282183,...,552.026904,510.272125,514.810206,569.462398,511.103848,467.172750,463.273220,474.448614,449.603073,486.207945
3,332.944530,199.950861,314.588003,331.516400,218.780786,246.696176,186.258163,276.814097,311.528827,286.126248,...,334.866220,262.914571,208.742885,296.261052,280.372216,198.813376,171.350153,203.367956,202.572377,187.950013
4,851.676799,839.590199,838.820817,838.743587,843.999683,834.043603,844.755205,853.762567,855.570872,869.281198,...,793.124639,776.012331,735.078687,759.029740,756.911988,666.238742,681.846982,670.226717,678.704282,660.688513

In [20]:
df1['1990_1994']= (df2[1990]+df2[1991]+df2[1992]+df2[1993]+df2[1994])/5
df1['1995_1999']= (df2[1995]+df2[1996]+df2[1997]+df2[1998]+df2[1999])/5
df1['2000_2004']= (df2[2000]+df2[2001]+df2[2002]+df2[2003]+df2[2004])/5
df1['2005_2009']= (df2[2005]+df2[2006]+df2[2007]+df2[2008]+df2[2009])/5
df1['2010_2014']= (df2[2010]+df2[2011]+df2[2012]+df2[2013]+df2[2014])/5
df1['2015_2017']= (df2[2015]+df2[2016]+df2[2017])/3

In [21]:
df1=df1[(df1.country != 'Island')&(df1.country != 'Turkey')&(df1.country != 'United Kingdom')]

In [22]:
df1['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden'], dtype=object)

In [23]:
df2['all_time']=df2.mean(axis = 1, skipna = True)

In [24]:
df1['all_time']=df2['all_time']

In [25]:
df1.head()

,country,1990_1994,1995_1999,2000_2004,2005_2009,2010_2014,2015_2017,all_time
0,Austria,206.366809,191.380740,176.960561,163.765850,126.177595,102.415141,165.375114
1,Belgium,357.453873,306.994010,262.736637,241.026727,198.349537,188.407005,264.215176
2,Bulgaria,575.764663,516.385672,496.777028,524.733534,505.164485,470.086544,518.013805
3,Croatia,279.556116,261.484702,318.549106,317.180153,231.107936,197.963449,272.617158
4,Cyprus,842.566217,851.482689,791.248995,791.428092,719.821228,669.873171,785.441272